[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "3.8.0"
pytest = "*"
en_core_web_trf = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.6.0/en_core_web_trf-3.6.0.tar.gz"}
scikit-learn = "*"
fuzzywuzzy = "*"
usaddress = "*"
sentence-transformers = "*"
transformers = "*"
torch = "*"
pyap2 = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
