[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "3.8.0"
pytest = "*"
scikit-learn = "*"
usaddress = "*"
sentence-transformers = "*"
transformers = "*"
pyap2 = "*"
project1 = {file = ".", editable = true}

[scripts]
postinstall = "python -m spacy download en_core_web_trf"

[dev-packages]

[requires]
python_version = "3.12"
